<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
<% if flash[:booking_successfull] %>
  <div class="modal-body" role="success" data-controller="success-modal">
    <div id="success-modal">
      <div>
        <div class="dismiss-container">
          <button type="button" class="btn-close" data-action="click->success-modal#close" aria-label="Close">
          </button>
        </div>
        <p><%= t('success.reservation') %>   <i class="fa-solid fa-check"></i></p>
        <p><%= t('success.from') %> <%= flash[:booking_successfull]["start_date"] %> <%= t('success.to') %> <%= flash[:booking_successfull]["end_date"] %> <%= t('success.at') %> <%= flash[:booking_successfull]["hostel_name"] %> Utopy Hostel.</p>
        <p><%= t('success.thanks') %> 🤙</p>
        <p class="last" ><%= t('success.email') %></p>
      </div>
    </div>
  </div>

<% end %>
