<div class="container pt-2">
  <h1 class="text-center py-5"><%= t('legal_mentions.title') %></h1>

  <div>
    <p><%= t('legal_mentions.utopy_hostel.company_name') %></p>
    <p><%= t('legal_mentions.utopy_hostel.address') %></p>
    <p><%= t('legal_mentions.utopy_hostel.phone') %></p>
    <p><%= t('legal_mentions.utopy_hostel.email') %></p>
    <p><%= t('legal_mentions.utopy_hostel.capital') %></p>
  </div>

  <div>
    <h3><%= t('legal_mentions.hosting_provider.title') %></h3>
    <p><%= t('legal_mentions.hosting_provider.details') %></p>
  </div>

  <div>
    <h3><%= t('legal_mentions.activity.title') %></h3>
    <p><%= t('legal_mentions.activity.registration') %></p>
    <p><%= t('legal_mentions.activity.tax_id') %></p>
    <p><%= t('legal_mentions.activity.terms_of_sale') %></p>
  </div>

  <div>
    <h3><%= t('legal_mentions.cookie_usage.title') %></h3>
    <p><%= t('legal_mentions.cookie_usage.details') %></p>
  </div>

  <div>
    <h3><%= t('legal_mentions.privacy_policy.title') %></h3>
    <p><%= t('legal_mentions.privacy_policy.details') %></p>
    <ul>
      <% t('legal_mentions.privacy_policy_usage').each do |usage| %>
        <li><%= usage %></li>
      <% end %>
    </ul>
    <p><%= t('legal_mentions.hosted_by.title') %></p>
    <p><%= t('legal_mentions.hosted_by.details') %></p>
    <p><%= t('legal_mentions.payment_gateways.title') %></p>
    <p><%= t('legal_mentions.payment_gateways.details') %></p>
    <p><%= t('legal_mentions.contact_us.title') %></p>
    <p><%= t('legal_mentions.contact_us.details') %></p>
    <p><%= t('legal_mentions.privacy_policy_updates.title') %></p>
    <p><%= t('legal_mentions.privacy_policy_updates.details') %></p>
  </div>

</div>
