<div class="container pt-2">
  <h1 class="text-center py-5"><%= t('reservation_policy.small_title') %></h1>
  <p><%= t('reservation_policy.introduction') %></p>
  <h3><%= t('reservation_policy.prices.title') %>:</h3>
  <ul>
    <% t('reservation_policy.prices.points').each do |point| %>
      <li><%= point %></li>
    <% end %>
  </ul>
  <h3><%= t('reservation_policy.reservation_conditions.title') %>:</h3>
  <p><%= t('reservation_policy.reservation_conditions.points')[0] %></p>
  <ul>
    <% (1..2).each do |i| %>
      <li><%= t('reservation_policy.reservation_conditions.points')[i] %></li>
    <% end %>
  </ul>
  <p><%= t('reservation_policy.reservation_conditions.points')[3] %></p>
  <ul>
    <% (4..5).each do |i| %>
      <li><%= t('reservation_policy.reservation_conditions.points')[i] %></li>
    <% end %>
  </ul>
  <h3><%= t('reservation_policy.cancellation_conditions.title') %>:</h3>
  <ul>
    <% t('reservation_policy.cancellation_conditions.points').each do |point| %>
      <li><%= point %></li>
    <% end %>
  </ul>
  <h3><%= t('reservation_policy.private_reservation_conditions.title') %>:</h3>
  <p><%= t('reservation_policy.private_reservation_conditions.points')[0] %></p>
  <p><%= t('reservation_policy.private_reservation_conditions.points')[1] %></p>
  <h3><%= t('reservation_policy.usage.title') %></h3>
  <p><%= t('reservation_policy.usage.arrival_time') %></p>
  <p><%= t('reservation_policy.usage.departure_time') %></p>
  <ul>
    <% t('reservation_policy.usage.points').each do |point| %>
      <li><%= point %></li>
    <% end %>
  </ul>
  <h3><%= t('reservation_policy.insurance.title') %></h3>
  <p><%= t('reservation_policy.insurance.description') %></p>
  <h3><%= t('reservation_policy.force_majeure.title') %></h3>
  <p><%= t('reservation_policy.force_majeure.description') %></p>
  <h3><%= t('reservation_policy.data_privacy.title') %></h3>
  <ul>
    <% t('reservation_policy.data_privacy.points').each do |point| %>
      <li><%= point %></li>
    <% end %>
  </ul>
  <h3><%= t('reservation_policy.applicable_law.title') %></h3>
  <p><%= t('reservation_policy.applicable_law.description') %></p>
</div>
