<% format = (params[:locale] == "en" ? '%Y/%m/%d' : '%d/%m/%Y') %>
<div class="container">
  <h1><%= t('confirm_mail.hi') %> <%= @booking.contact.name %>,</h1>
  <br>
  <p><%= t('confirm_mail.text_1.text') %> <%= @booking.hostel.name.upcase %> <%= t('confirm_mail.text_1.from') %> <%= @booking.start_date.strftime(format) %> <%= t('confirm_mail.text_1.to') %> <%= @booking.end_date.strftime(format) %>.</p>
  <br>
  <p><%= t('confirm_mail.text_2') %></p>
  <br>
  <p><%= t('confirm_mail.text_3') %></p>
  <br>
  <p><%= t('confirm_mail.text_4') %></p>
  <br>
  <p><%= t('confirm_mail.text_5') %></p>
  <br>
  <p><%= t('confirm_mail.bye') %> <%= @booking.hostel.name.upcase %> Utopy Hostel</p>
</div>
