<% format = (params[:locale] == "en" ? '%Y/%m/%d' : '%d/%m/%Y') %>
<div class="container">
  <h3><%= t('confirm_mail.hi') %> <%= @booking.contact.first_name %> <%= @booking.contact.last_name %>,</h3>
  <br>
  <p><%= t('confirm_mail.text_1.text') %> <strong><%= @booking.number_of_beds %></strong> <%= t('confirm_mail.text_1.bunk') %> <%= @booking.hostel.name.upcase %> <%= t('confirm_mail.text_1.from') %> <strong><%= @booking.start_date.strftime(format) %></strong> <%= t('confirm_mail.text_1.to') %> <strong><%= @booking.end_date.strftime(format) %></strong>.</p>
  <br>
  <p><%= t('confirm_mail.text_2') %></p>
  <p><%= t('confirm_mail.text_3') %></p>
  <p><%= t('confirm_mail.text_4') %></p>
  <br>
  <p><%= t('confirm_mail.text_5') %></p>
  <p><%= t('confirm_mail.bye') %> <%= @booking.hostel.name.upcase %> Utopy Hostel</p>
  <br>
  <br>
  <p>Phone / Whatsapp: +33749198463</p>
  <p>Email: utopy.hostel@gmail.com</p>
  <p>Website: <a href="https://www.utopyhostel.com">utopyhostel.com</a></p>
</div>
