<div id="hostel" class="<%= @hostel.name.downcase %>-background">
  <h1><%= @hostel.name.upcase %></h1>
  <div class="banner-show container">
    <%= image_tag "#{@hostel.name.downcase}_banner_1" %>
  </div>
  <div class="container cards">
    <div class="col-sm-6">
      <div class="amenities-card">
        <div class="d-flex justify-content-between">
          <div class="col-5">
            <%= image_tag "#{@hostel.name.downcase}_bedroom_1", class:"photo" %>
          </div>
          <div class="col-6 d-flex flex-column justify-content-around">
            <h3>DORTOIRS</h3>
            <div class="icons d-flex flex-column justify-content-around">
              <div class="d-flex justify-content-between align-items-center">
                <%# <%= image_tag 'bunk-bed', class:'col-3' %>
                <i class="fa-solid fa-bed col-3"></i>
                <i class="fa-regular fa-lightbulb col-3"></i>
                <i class="fa-solid fa-box-archive col-3"></i>
                <%# <%= image_tag 'lockers', class:'col-3' %>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <% if @hostel.name == "Garden" %>
                  <i class="fa-solid fa-snowflake col-3"></i>
                <% else %>
                  <i class="fa-solid fa-fan col-3"></i>
                <% end %>
                <i class="fa-solid fa-plug col-3"></i>
                <i class="fa-solid fa-person-booth col-3"></i>
              </div>
            </div>
          </div>
        </div>
        <% if @hostel.name == "Garden" %>
          <p class="text">Bienvenue dans notre spacieux dortoir mixte, où l'esprit de communauté rencontre le confort moderne! Pouvant accueillir jusqu'à 15 voyageurs, Garden vous offre une expérience en lits box pour un confort garanti, ainsi qu’un espace personnel soigneusement équipé de rangement, lampe, prise, ventilateur et rideaux individuels. Le dortoir bénéficie d’une climatisation, le linge de lit est inclus et des casiers sont à votre disposition (cadenas non compris).</p>
        <% else %>
          <p class="text">Découvrez notre dortoir mixte de 15 personnes offrant une expérience de voyage sociale, confortable et économique. Nos lits box créent un cocon personnel spacieux équipé de rangement, lampe, prise, ventilateur et rideaux individuels. Un mélange parfait d'intimité et de convivialité pour un repos réparateur. Le linge de lit est inclus et des casiers sont à votre disposition (cadenas non compris).</p>
        <% end %>
      </div>
      <div class="amenities-card">
        <div class="d-flex justify-content-between">
          <div class="col-6 d-flex flex-column justify-content-around">
            <h3>ESPACES COMMUNS</h3>
            <div class="icons d-flex flex-column justify-content-around">
              <div class="d-flex justify-content-between align-items-center">
                <%# <%= image_tag 'bunk-bed', class:'col-3' %>
                <i class="fa-solid fa-kitchen-set col-3"></i>
                <i class="fa-solid fa-couch col-3"></i>
                <i class="fa-solid fa-shower col-3"></i>
                <%# <%= image_tag 'lockers', class:'col-3' %>
              </div>
              <div class="d-flex justify-content-around align-items-center">
                <i class="fa-solid fa-fan col-3"></i>
                <i class="fa-solid fa-wifi col-3"></i>
                <% if @hostel.name == "Garden" %>
                  <i class="fa-solid fa-umbrella-beach col-3"></i>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-5">
            <%= image_tag "#{@hostel.name.downcase}_kitchen", class:"photo" %>
          </div>
        </div>
        <% if @hostel.name == "Garden" %>
          <p class="text">Partagez les histoires de vos aventures quotidiennes dans nos espaces communs, où les conversations  animées se mêlent au rire joyeux de nouveaux amis. Cuisine, salon, salle de bain, tout est aménagé et pensé pour votre confort quotidien. Le jardin est accessible pendant la journée pour profiter du calme et lézarder au soleil. Un surf rack est également à disposition pour votre matériel personnel ou loué. La wifi gratuite est disponible dans tout l’hostel.</p>
        <% else %>
          <p class="text">Découvrez nos espaces communs accueillants où les idées et les histoires circulent librement, et plongez-vous dans l'atmosphère vibrante de notre communauté internationale. Cuisine, salon, salle de bain, tout est aménagé et pensé pour votre confort quotidien. Un surf rack est également à disposition pour votre matériel personnel ou loué. La wifi gratuite est disponible dans tout l’hostel.</p>
        <% end %>
      </div>
      <div class="amenities-card">
        <div class="d-flex justify-content-between">
          <div class="col-5">
            <%= image_tag "#{@hostel.name.downcase}_kitchen", class:"photo" %>
          </div>
          <div class="col-6 d-flex flex-column justify-content-around">
            <h3>PROXIMITE</h3>
            <div class="icons d-flex flex-column justify-content-around">
              <div class="d-flex justify-content-between align-items-center">
                <%# <%= image_tag 'bunk-bed', class:'col-3' %>
                <i class="fa-solid fa-cart-shopping col-3"></i>
                <% if @hostel.name == "Garden" %>
                  <i class="fa-solid fa-bicycle col-3"></i>
                <% else %>
                  <i class="fa-solid fa-martini-glass col-3"></i>
                <% end %>
                <i class="fa-solid fa-utensils col-3"></i>
                <%# <%= image_tag 'lockers', class:'col-3' %>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <i class="fa-solid fa-bus col-3"></i>
                <% if @hostel.name == "Garden" %>
                  <i class="fa-solid fa-car col-3"></i>
                <% else %>
                  <i class="fa-solid fa-water col-3"></i>
                <% end %>
                <i class="fa-solid fa-cookie-bite col-3"></i>
              </div>
            </div>
          </div>
        </div>
        <% if @hostel.name == "Garden" %>
          <p class="text">Situé à l’écart du centre-ville de Biarritz, vous pourrez profiter de la tranquillité des environs, faire votre yoga au lac Marion, télétravailler au Tropical Coworking ou goûter aux délices du Café de la baleine. Supérette, boulangerie, restaurants, le quartier de Saint-Martin satisfera toutes vos envies. Bien que tout soit accessible à pied, la navette gratuite N11 vous permettra de rejoindre rapidement le centre-ville et les plages. Garden dispose d’un parking gratuit et d’un rack à vélo (nous nous déchargeons de toutes responsabilités). La gare et l’aéroport sont accessibles à pied ou en bus.</p>
        <% else %>
          <p class="text">A quelques pas de l’hostel, la côte des basques vous offre un panorama sur l’océan où vous pourrez admirer les plus beaux couchers de soleil de Biarritz. Boulangerie, supérette, bars et restaurants, le quartier de Bibi Beaurivage saura combler toutes vos envies. Tout est accessible à pied, toutefois la navette gratuite N10 vous permet de rejoindre le centre et autres plages de la ville plus rapidement. Coast ne dispose pas de parking ni de rack à vélo, nous vous invitons à les garer dans la rue (nous ne garantissons pas la disponibilité).</p>
        <% end %>
      </div>
      <div class="amenities-card">
        <h3 class="mb-5">INFORMATIONS SUPPLEMENTAIRES</h3>
        <div class="">
          <div>
            <div class="d-flex  mb-2">
              <i class="fa-solid fa-circle-arrow-right pr-4"></i>
              <p>Self check-in à partir de 13h00</p>
            </div>
            <div class="d-flex  mb-4">
              <i class="fa-solid fa-circle-arrow-left pr-4"></i>
              <p>Check-out jusqu’à 11h00</p>
            </div>
          </div>
          <div>
              <p>Annulation gratuite : 5 jours avant votre date d’arrivée</p>
            <div class="d-flex justify-content-between">
              <%# <i class="fa-solid fa-circle-xmark"></i> %>
            </div>
              <p>Assurez-vous des meilleurs prix en réservant ici !</p>
            <div class="d-flex justify-content-between">
              <%# <%= image_tag 'coin', class:"icon-img" %>
            </div>
          </div>
        </div>
        <% if @hostel.name == "Garden" %>
            <p>Afin de nous trouver facilement, veuillez privilégier l'utilisation de Google Maps plutôt que celle d'Apple Maps.</p>
          <div class="d-flex justify-content-between">
            <%# <%= image_tag 'gps', class:"icon-img" %>
          </div>
        <% end %>
            <p>Réservez vos cours de surf directement à la réception et bénéficiez de tarifs réduits avec notre partenaire Jo Moraiz Surf School.</p>
        <div class="d-flex justify-content-between mb-4">
            <%# <%= image_tag 'surfboard', class:"icon-img jo-moraiz" %>
          </div>
      </div>
    </div>

    <div id="booking-modal-desktop" data-booking-target='calendar' class="col-5">
      <div class="container">
        <%= simple_form_for [@hostel, @booking] do |f| %>
          <%= f.input :start_date,
                as: :string,
                label: false,
                input_html: { class:'d-none', data: { controller: "datepicker" } } %>
          <%= f.input :number_of_beds, as: :select, collection: (1..14), selected:1 %>
          <div class="d-flex justify-content-between">
            <p>Total price</p>
            <h3><strong>123 €</strong></h3>
          </div>
          <%= f.button :submit, "Book #{@hostel.name.upcase}", class:"book-btn-modal" %>
        <% end %>
      </div>
    </div>

  </div>
</div>


<div id="footer" data-controller="booking">

  <div id="booking-modal-1" data-booking-target='calendar' class="d-none">
    <div class="container">
      <%= simple_form_for [@hostel, @booking] do |f| %>
        <%= f.input :start_date,
              as: :string,
              label: false,
              input_html: { class:'d-none', data: { controller: "datepicker" } } %>
        <%= f.input :number_of_beds, as: :select, collection: (1..14), selected:1 %>
        <div class="d-flex justify-content-between">
          <p>Total price</p>
          <h3><strong>123 €</strong></h3>
        </div>
        <%= f.button :submit, "Book #{@hostel.name.upcase}", class:"book-btn-modal" %>
      <% end %>
    </div>
  </div>

  <div class="booking-footer container d-flex justify-content-between align-items-center" data-booking-target="trigger">
    <h3><%= @hostel.name.upcase %></h3>
    <div class="book-btn-show" data-action="click->booking#showBookingModal">
      <h3>Book</h3>
    </div>
  </div>

</div>
