<div id="hostel" class="<%= @hostel.name.downcase %>-background">
  <h1><%= @hostel.name.upcase %></h1>
  <div class="banner-show">
    <%= cl_image_tag "Utopy/#{@hostel.name.downcase}_banner" %>
  </div>
  <div class="container cards">
    <div class="col45">
      <div class="amenities-card">
        <div class="d-flex justify-content-between">
          <div class="col-5">
            <%= cl_image_tag "Utopy/#{@hostel.name.downcase}_bedroom_1", class:"photo" %>
          </div>
          <div class="col-6 d-flex flex-column justify-content-around">
            <h3><%= t('show.title_1') %></h3>
            <div class="icons d-flex flex-column justify-content-around">
              <div class="d-flex justify-content-between align-items-center">
                <%# <%= cl_image_tag 'bUtopy/unk-bed', class:'col-3' %>
                <i class="fa-solid fa-bed col-3"></i>
                <i class="fa-regular fa-lightbulb col-3"></i>
                <i class="fa-solid fa-box-archive col-3"></i>
                <%# <%= cl_image_tag 'lUtopy/ockers', class:'col-3' %>
              </div>
              <div class="d-flex justify-content-around align-items-center">
                <% if @hostel.name == "Garden" %>
                  <i class="fa-solid fa-snowflake col-3"></i>
                <% else %>
                  <i class="fa-solid fa-fan col-3"></i>
                <% end %>
                <i class="fa-solid fa-plug col-3"></i>
              </div>
            </div>
          </div>
        </div>
        <% if @hostel.name == "Garden" %>
          <p class="text"><%= t('show.garden.text_1') %></p>
        <% else %>
          <p class="text"><%= t('show.coast.text_1') %></p>
        <% end %>
      </div>
      <div class="amenities-card">
        <div class="d-flex justify-content-between">
          <div class="col-6 d-flex flex-column justify-content-around">
            <h3><%= t('show.title_2') %></h3>
            <div class="icons d-flex flex-column justify-content-around">

              <% if @hostel.name == "Coast" %>
                <div class="d-flex justify-content-around align-items-center">
                  <%# <%= cl_image_tag 'bUtopy/unk-bed', class:'col-3' %>
                  <i class="fa-solid fa-kitchen-set col-3"></i>
                  <i class="fa-solid fa-couch col-3"></i>
                  <%# <%= cl_image_tag 'lUtopy/ockers', class:'col-3' %>
                </div>
                <div class="d-flex justify-content-around align-items-center">
                  <i class="fa-solid fa-shower col-3"></i>
                  <i class="fa-solid fa-wifi col-3"></i>
                </div>
              <% else %>
                <div class="d-flex justify-content-between align-items-center">
                  <%# <%= cl_image_tag 'bUtopy/unk-bed', class:'col-3' %>
                  <i class="fa-solid fa-kitchen-set col-3"></i>
                  <i class="fa-solid fa-couch col-3"></i>
                  <i class="fa-solid fa-shower col-3"></i>
                  <%# <%= cl_image_tag 'lUtopy/ockers', class:'col-3' %>
                </div>
                <div class="d-flex justify-content-around align-items-center">
                  <i class="fa-solid fa-wifi col-3"></i>
                  <%= cl_image_tag 'Utopy/picnic', class:'col-3 picnic' %>
                  <%# <i class="fa-solid fa-umbrella-beach col-3"></i> %>
                </div>
              <% end %>

            </div>
          </div>
          <div class="col-5">
            <%= cl_image_tag "Utopy/#{@hostel.name.downcase}_kitchen", class:"photo" %>
          </div>
        </div>
        <% if @hostel.name == "Garden" %>
          <p class="text"><%= t('show.garden.text_2') %></p>
        <% else %>
          <p class="text"><%= t('show.coast.text_2') %></p>
        <% end %>
      </div>
      <div class="amenities-card">
        <div class="d-flex justify-content-between">
          <div class="col-5">
            <%= cl_image_tag "Utopy/#{@hostel.name.downcase}_proximity", class:"photo" %>
          </div>
          <div class="col-6 d-flex flex-column justify-content-around">
            <h3><%= t('show.title_3') %></h3>
            <div class="icons d-flex flex-column justify-content-around">
              <div class="d-flex justify-content-between align-items-center">
                <%# <%= cl_image_tag 'bUtopy/unk-bed', class:'col-3' %>
                <% if @hostel.name == "Garden" %>
                  <i class="fa-solid fa-cart-shopping col-3"></i>
                  <i class="fa-solid fa-utensils col-3"></i>
                  <i class="fa-solid fa-cookie-bite col-3"></i>
                <% else %>
                  <i class="fa-solid fa-martini-glass col-3"></i>
                  <i class="fa-solid fa-utensils col-3"></i>
                  <i class="fa-solid fa-cookie-bite col-3"></i>
                <% end %>
                <%# <%= cl_image_tag 'lUtopy/ockers', class:'col-3' %>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <% if @hostel.name == "Garden" %>
                  <i class="fa-solid fa-bus col-3"></i>
                  <i class="fa-solid fa-car col-3"></i>
                  <i class="fa-solid fa-bicycle col-3"></i>
                <% else %>
                  <i class="fa-solid fa-cart-shopping col-3"></i>
                  <i class="fa-solid fa-bus col-3"></i>
                  <i class="fa-solid fa-water col-3"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% if @hostel.name == "Garden" %>
          <p class="text"><%= t('show.garden.text_3') %></p>
        <% else %>
          <p class="text"><%= t('show.coast.text_3') %></p>
        <% end %>
      </div>
      <div class="amenities-card">
        <h3 class="mb-5"><%= t('show.title_4') %></h3>

        <ul>
          <li class=''><%= t('show.text_4_1') %></li>
          <li class='pl-2'><%= t('show.text_4_2') %></li>
          <%# <div class="d-flex align-items-center justify-content-between mb-2">
            <i class="fa-solid fa-circle-arrow-right"></i>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-4">
            <i class="fa-solid fa-circle-arrow-left"></i>
          </div> %>

          <li><%= t('show.text_4_3') %></li>
          <li><%= t('show.text_4_4') %></li>
          <% if @hostel.name == "Garden" %>
            <li><%= t('show.garden.text_4_5') %></li>
          <% end %>
            <li><%= t('show.text_4_5') %></li>
        </ul>
      </div>
    </div>

    <%# Booking modal for desktop here %>

    <% unless request.user_agent =~ /Mobile/ %>
      <div class="col45 booking-desktop-wrapper">
        <div id="booking-desktop" class="container">
          <% if @booking.persisted? %>
            <%= simple_form_for [@booking, @contact] do |f| %>
              <div class="top-form">
                <div class="d-flex justify-content-between">
                  <%= f.input :first_name %>
                  <%= f.input :last_name %>
                </div>
                <div class="d-flex justify-content-between">
                  <%= f.input :phone %>
                  <%= f.input :birthdate,
                      as: :string,
                      input_html: { data: { controller: "birthdate" } }
                   %>
                </div>
                <div class="d-flex justify-content-between">
                  <%= f.input :email %>
                  <%= f.input :country, priority: [ "France" ], collection: [ "Australia", "Brazil", "France", "Germany", "Netherlands", "New Zealand", "Spain"]  %>
                </div>
              </div>
              <%= f.button :submit, "Checkout", class:"book-btn-modal #{@hostel.name.downcase}-background" %>
            <% end %>
          <% else %>
            <%= simple_form_for [@hostel, @booking], data: { controller: "datepicker", datepicker_booked_value: @booked_dates.to_json, datepicker_hostel_value: @hostel.id } do |f| %>
              <div class="d-flex">
                <%= f.input :start_date,
                  error: 'Renseignez vos dates !',
                  as: :string,
                  label: false,
                  input_html: {
                    class: 'd-none',
                    data: {
                      datepicker_target: "startDate",
                      action: "change->datepicker#calculate",
                      hostel_id: @hostel.id
                    }
                  }
                %>
                <div class="d-flex flex-column justify-content-around inputs-right">
                  <%= f.input :number_of_beds, as: :select, collection: (1..8), selected: 1, wrapper_html: { class: "text-center d-flex flex-column justify-content-between" }, input_html: { data: { datepicker_target: "numberOfBeds", action: "change->datepicker#updateDatepicker" }} %>
                  <div class="text-center d-flex flex-column justify-content-between price-tag">
                    <p>Total price TTC</p>
                    <h3 data-datepicker-target="price"><strong>0 €</strong></h3>
                  </div>
                  <p class="text-center" ><%= t('show.taxes') %></p>
                </div>
              </div>
              <%= f.button :submit, "Book #{@hostel.name.upcase}", class:"book-btn-modal #{@hostel.name.downcase}-background" %>
            <% end %>

          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<% if request.user_agent =~ /Mobile/ %>

  <div id="footer" data-controller="booking">
    <div id="booking-modal-1" data-booking-target='calendar' class="<%= 'd-none' unless @booking.persisted? %>">
      <div class="container">

        <% if @booking.persisted? %>
          <%= simple_form_for [@booking, @contact] do |f| %>
            <div class="d-flex justify-content-between">
              <%= f.input :first_name %>
              <%= f.input :last_name %>
            </div>
            <div class="d-flex justify-content-between">
              <%= f.input :phone %>
              <%= f.input :birthdate,
                  as: :string,
                  input_html: { data: { controller: "birthdate" } } %>
            </div>
            <%= f.input :email %>
            <%= f.input :country, priority: [ "France" ], collection: [ "Australia", "Brazil", "France", "Germany", "Netherlands", "New Zealand", "Spain"]  %>
            <%= f.button :submit, "Checkout", class:"book-btn-modal #{@hostel.name.downcase}-background" %>
          <% end %>
        <% else %>
          <%= simple_form_for [@hostel, @booking], data: { controller: "datepicker", datepicker_booked_value: @booked_dates.to_json, datepicker_hostel_value: @hostel.id } do |f| %>
            <%= f.input :start_date,
              error: 'Renseignez vos dates !',
              as: :string,
              label: false,
              input_html: {
                class: 'd-none',
                data: {
                  datepicker_target: "startDate",
                  action: "change->datepicker#calculate",
                  hostel_id: @hostel.id
                }
              }
            %>

            <%= f.input :number_of_beds, as: :select, collection: (1..8), selected: 1, input_html: { data: { datepicker_target: "numberOfBeds", action: "change->datepicker#updateDatepicker" }} %>
            <div class="d-flex justify-content-between">
              <p>Total price TTC</p>
              <h3 data-datepicker-target="price"><strong>0 €</strong></h3>
            </div>
            <%= f.button :submit, "Book #{@hostel.name.upcase}", class:"book-btn-modal #{@hostel.name.downcase}-background" %>
          <% end %>

        <% end %>
      </div>
    </div>
    <div class="<%= 'd-none' if @booking.persisted? %> booking-footer container d-flex justify-content-between align-items-center" data-booking-target="trigger">
      <h3><%= @hostel.name.upcase %></h3>
      <div class="book-btn-show" data-action="click->booking#showBookingModal">
        <h3 class="<%= @hostel.name.downcase %>-background">Book</h3>
      </div>
    </div>

  </div>
<% end %>
